* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
.loader {
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  mask-image: radial-gradient(circle, transparent 0%, transparent 0%, black 0%);
  .img-container {
    height: 50%;
    margin-top: 42px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  h1 {
    color: white;
    font-size: 74px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 34px;
    text-align: center;
    @media screen and (max-width: 720px) {
      font-size: 42px;
    }
  }
  .enter {
    background-color: white;
    padding: 14px 60px;
    border-radius: 8px;
    width: 100px;
    text-align: center;
    font-family: "Chakra Petch", sans-serif;
    /* cursor: wait; */
    pointer-events: none;
  }
  .cursor {
    height: 50px;
    width: 50px;
    background-color: rgb(0, 30, 255);
    position: absolute;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    z-index: 2;
    pointer-events: none;
    display: none;
  }
  .cursor2 {
    height: 50px;
    width: 50px;
    background-color: rgb(0, 255, 89);
    position: absolute;
    transform: translate(-40%, -40%);
    z-index: 1;
    mix-blend-mode: difference;
    pointer-events: none;
    display: none;
  }
}

.html-3d-scene {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  display: none;
  opacity: 0;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50%;
  text-align: center;
  color: white;
  margin-top: 24px;
  font-family: "Chakra Petch", sans-serif;
}
h4 {
  font-size: 22px;
}

.change-model {
  position: absolute;
  bottom: 10px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  img {
    width: 50px;
    height: 50px;
  }
  .left-arrow {
    cursor: pointer;
    img {
      transform: rotate(180deg);
    }
  }
  .right-arrow {
    cursor: pointer;
  }
}
